<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Menu Principal</title>
</head>
<body>
    <h1>Menu Principal</h1>
    
    <!-- Botão para registrar temperatura -->
    <form action="/temperatura" method="GET">
        <button type="submit">Registrar Temperatura</button>
    </form></p>

    <!-- Botão para cadastrar equipamento -->
    <form action="/equipamento" method="GET">
        <button type="submit">Cadastrar Equipamento</button>
    </form>

    <!-- Mensagem de feedback -->
    <p>{{ mensagem }}</p>
</body>
</html>
